<div class="wholepage light-theme">
  <img
    class="background"
    [src]="
      darktheme
        ? '../assets/bg-desktop-dark.jpg'
        : '../assets/bg-desktop-light.jpg'
    "
  />
  <div class="title">
    <div class="todotitle">T O D O</div>
    <img
      class="icon"
      [src]="darktheme ? '../assets/icon-sun.svg' : '../assets/icon-moon.svg'"
    />
  </div>
  <div class="createtodo initialtodo light-theme">
    <div class="ischecked"></div>
    <input
      type="text"
      class="createtodoinput form-control light-theme"
      placeholder="Create a new todo..."
      [(ngModel)]="newTodoValue"
    />
  </div>
  <div class="todolist light-theme">
    <div class="todos">
      <div class="createtodo newtodo" *ngFor="let todo of displayedList">
        <div class="ischecked"></div>
        <a href="#" class="todostr"
          ><p class="innerstr">{{ todo.value }}</p></a
        >
        <div class="deletecontainer">
          <img class="deletetodo" src="../assets/icon-cross.svg" />
        </div>
      </div>
    </div>
    <div class="todosinfo light-theme">
      <div class="todosleft">{{ displayedList.length }} items left</div>
      <a href="#" class="all infoselected light-theme">All</a>
      <a href="#" class="activetodos light-theme">Active</a>
      <a href="#" class="completed light-theme">Completed</a>
      <a href="#" class="cleartodos"
        ><p class="cleartxt light-theme">Clear Completed</p></a
      >
    </div>
  </div>
  <div class="tipfooter">Drag and drop to reorder list</div>
</div>
